<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-feature android:name="android.hardware.camera.flash" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.STORAGE" /> <!--  -->
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />
<!--    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
<!--    <uses-permission android:name="android.permission.BLUETOOTH" />-->

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LearnAndroid"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">


        <activity
            android:launchMode="singleTop"
            android:name=".clipboard_MANAGER"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="false"
            android:permission="TODO" />

        <activity
            android:name=".sevice_IN_ADVANCE"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".brightness_CONTROL"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".flashlight_SENSORS"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".vibrate_SENSORS"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".change_WIFI_STATE"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".phone_DETAILS"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".bluetooth_STATE_SENSOR"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".camera_SENSORS"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".read_or_add_CONTACTS"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".device_and_Sensors"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".json_PARSING"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".text_SWITCHER"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".image_SWITCHER"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".multi_auto_complete_textview"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".course_codelab_in_LESSON"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".splash_SCREEN"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity_and_INTENT_in_LESSON"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".firebase_IN_LESSONS"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".json_parsing_IN_LESSONS"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".data_storage_IN_LESSONS"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".intents_AND_fragments_in_LESSONS"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".components_in_LESSONS"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view_layout_in_LESSON"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".containers_in_LESSONS"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui_widgets_in_LESSON"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".project_STRUCTURE"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".lessons_activity"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".run_on_REAL_DEVICE"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".run_on_android_EMULATOR"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".create_Android_PROJECT"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".environment_SETUP"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".android_INTRODUCTION"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".introduction"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".quiz_in_TABLEARN"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".interview_QA"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".tips_and_TRICKS"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".awesome_PLUGIN"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".keyboard_SHORTCUTS"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".preXmlActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".second_ACTIVITY"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".recylerView_MATERIAL_DESIGN"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".navigation_Drawer_MATERIAL_DESIGN"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".bottom_Navigaton_MATERIAL_DESIGN"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".tablayout_with_Viewpager_MATERIAL_DESIGN"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".floatingActionButton_MATERIAL_DESIGN"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".snackbar_MATERIAL_DESIGN"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".bottom_SHEETS_MATERIAL_DESIGN"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".shared_PREFERENCE"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".external_STORAGE"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".internal_STORAGE"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".bigpictureStyle_NOTIFICATION"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".bigtextStyle_NOTIFICATION"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".inboxStyle_NOTIFICATION"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".simple_NOTIFICATION"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".list_FRAGMENT"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".dailog_FRAGMENT"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".transaction_BETWEEN_FRAGMENTS"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".change_FRAGMENT"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".startACTIVITY_for_RESULT"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".passdata_BETWEEN_ACTIVITY"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".change_ACTIVITY_BY_INTENT"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity_LIFECYCLE"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".custom_LIST_VIEW"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".list_VIEW"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".scroll_VIEW"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".search_VIEW"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".web_VIEW"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".grid_VIEW"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".positional_TOAST"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".custom_TOAST"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".simple_TOAST"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".chronoMETER"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".time_PICKER"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".date_PICker"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".simple_Clock"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".popUP_MENU"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".context_MENU"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".option_MENU"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".autoComplete_Textview"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".alert_Dailog"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".progress_BAR"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".seek_Bar"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".rating_Bar"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".spinner__"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".radio_Button"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".check_Box"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".image_Button"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".switch_"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".toggle_Button"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".button"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".edit_text"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".textView_activity"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".source_CODE_Activity"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".sendSMS_Activity"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".phoneCall_Activity"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".sqLite_Database_Activity"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".mediaPlayer_Activity"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".recordingApp_Activity"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".text_To_speech_Activity"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".animation_Activity"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MaterialDesign_activity"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Datastorage_activtiy"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".notification_activity"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Fragment_activity"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Intent_and_activity"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".container_activity"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Toast_activity"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".date_and_time_activity"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Menu_activity"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".UI_widgets_Activity"
            android:exported="false"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

    </application>

</manifest>